
@{
    ViewData["Title"] = "SubmitTest";
}
<div style="background-color:#f9f9f9;">
    <div style=" height: 100vh;
    text-align:center; padding-top:25%;">
       
            <div class="text-center">
                <h1 style="color:red; text-align:center"> <i class="fa fa-check-circle" style="color:green; font-size:50px;" aria-hidden="true"></i> You have submitted your test successfully</h1>
            </div>
        
        <h1>Thank you</h1>

        <h2>HR Team will contact you soon </h2>
    </div>
</div>

