@model OnlineTestManagement.Entities.ViewModels.QuestionViewModel
@{
    ViewData["Title"] = "Edit";
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
}
<h2 style="color:red;">Edit Question</h2>

<form asp-controller="Question" asp-action="edit" autocomplete="off" id="Questionform" enctype="multipart/form-data">
    <div class="row my-1">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Question" class="control-label float-label mt-2">Question</label>
                <input type="text" asp-for="Question" placeholder="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row my-1" hidden="hidden">
        <div class="col-md-9">
            <div class="form-group">
                <input type="text" asp-for="Id" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Option1" class="control-label float-label mt-2">Option A</label>
                <input type="text" asp-for="Option1" placeholder="Option1" class="form-control" />
                <span asp-validation-for="Option1" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Option2" class="control-label float-label mt-2">Option B</label>
                <input type="text" asp-for="Option2" placeholder="Option2" class="form-control" />
                <span asp-validation-for="Option2" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Option3" class="control-label float-label mt-2">Option C</label>
                <input type="text" asp-for="Option3" placeholder="Option3" class="form-control" />
                <span asp-validation-for="Option3" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Option4" class="control-label float-label mt-2">Option D</label>
                <input type="text" asp-for="Option4" placeholder="Option4" class="form-control" />
                <span asp-validation-for="Option4" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-md-6">
            <div class="form-group">
                @*<label asp-for="CorrectAnswer" class="control-label float-label mt-2">CorrectAnswer</label>
                    <input type="text" asp-for="CorrectAnswer" placeholder="CorrectAnswer" class="form-control" />
                    <span asp-validation-for="CorrectAnswer" class="text-danger"></span>*@
                <label asp-for="CorrectAnswer" class="control-label float-label mt-2">CorrectAnswer</label>
                <div class="my-custom-select width-100">
                    <select class="form-control select-dropDown" asp-for="CorrectAnswer" value="">
                        <option value="a">Option A</option>
                        <option value="b">Option B</option>
                        <option value="c">Option C</option>
                        <option value="d">Option D</option>
                    </select>
                </div>
                <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
            </div>
        </div>
        @*<div class="col-md-6">
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label float-label mt-2">CreatedBy</label>
                <input type="text" asp-for="CreatedBy" placeholder="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>*@
    </div>
    <div class="row my-1">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Select Level</label>
                <div class="my-custom-select width-100">
                    <select class="form-control select-dropDown" asp-for="LevelId" value="" asp-items="ViewBag.LevelsList">
                        <option value="">select</option>
                    </select>
                </div>
                <span asp-validation-for="LevelId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Select Subject</label>
                <div class="my-custom-select width-100">
                    <select class="form-control select-dropDown" asp-for="SubjectId" value="" asp-items="ViewBag.SubjectsList">
                        <option value="">select</option>
                    </select>
                </div>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="detailBtn-group">
        <button id="btnSubmit" type="submit" class="btn btn-primary  mr-2" style="background-color:red;">Update</button>
        <a asp-controller="Question" asp-action="index" class="btn btn-secondary" style="color:white; background-color:grey;">Cancel</a>
    </div>
</form>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>

        $(document).ready(function () {
            $('#Date').datepicker({
            });
        })
    </script>

}

