@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="setting-wrapper">
    <a asp-controller="Question" asp-action="Index" class="btn-lg">
        <div class="p-5 setting-card">
            Questions
        </div>
    </a>
    <a asp-controller="Test" asp-action="Index" class="btn-lg">
        <div class="p-5 setting-card">
            Test
        </div>
    </a>
    <a asp-controller="Candidate" asp-action="Index" class="btn-lg">
        <div class="p-5 setting-card">
            Candidate
        </div>
    </a>
    <a asp-controller="Result" asp-action="Index" class="btn-lg">
        <div class="p-5 setting-card">
            Result
        </div>
    </a>
    @*<a asp-controller="Rate" asp-action="Index" class="btn-lg">
            <div class="p-5 setting-card">
                Rate
            </div>
        </a>*@
</div>
