@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/site.css" rel="stylesheet" />

<div style="margin-top:100px;">
    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index","Question")'"><i class="icon fa fa-question" style="margin-bottom:20px;"></i><br />Question</button>
    <button type="button" class="btn btn-secondary btn-lg" onclick="location.href='@Url.Action("Index","Test")'" style="margin-left:70px;"><i class="icon fa fa-newspaper-o" style="margin-bottom:20px;"></i><br />Test</button>
    <button type="button" class="btn btn-success btn-lg" onclick="location.href='@Url.Action("Index","Candidate")'" style="margin-left:70px;"><i class="icon fa fa-users" style="margin-bottom:20px;"></i><br/>Candidate</button>
    <button type="button" class="btn btn-danger btn-lg" onclick="location.href='@Url.Action("Index","Result")'" style="margin-left:70px;"><i class="icon fa fa-graduation-cap" style="margin-bottom:20px;"></i><br/>Result</button>
</div>





<link href="~/css/site.css" rel="stylesheet" />

