@model OnlineTestManagement.Entities.ViewModels.TestViewModel
@{
    ViewData["Title"] = "Edit";
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link href="~/css/summernote.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/css/bootstrap-select.min.css">
}
<h2 style="color:red;">Edit Test</h2>
<div class="row">
    <div class="col-md-6 detail-container">
        <form asp-controller="Test" id="form" asp-action="edit" autocomplete="off" spellcheck="false" enctype="multipart/form-data">
            <div class="row my-1">
                <div class="col-md-9">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label float-label mt-2">Name</label>
                        <input type="text" asp-for="Name" placeholder="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            @*<div class="row my-1">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label asp-for="CreatedBy" class="control-label float-label mt-2">CreatedBy</label>
                            <input type="text" asp-for="CreatedBy" placeholder="CreatedBy" class="form-control" />
                            <span asp-validation-for="CreatedBy" class="text-danger"></span>
                        </div>
                    </div>
                </div>*@
            <div class="row my-1" hidden="hidden">
                <div class="col-md-9">
                    <div class="form-group">
                        <input type="text" asp-for="Id" placeholder="CreatedBy" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row my-1">
                <div class="col-md-9">
                    <div class="form-group">
                        <label class="control-label">Select Job Role</label>
                        <div class="my-custom-select width-100">
                            <select class="form-control select-dropDown" asp-for="JobRoleId" value="" asp-items="ViewBag.JobRolesList">
                                <option value="">select</option>
                            </select>
                        </div>
                        <span asp-validation-for="JobRoleId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1">
                <div class="col-md-9">
                    <div class="form-group">
                        <label class="control-label">Select Questions</label>
                        <div class="my-custom-select width-100">
                            <select class="form-control selectpicker" asp-for="SelectedQuestionIds" asp-items="ViewBag.QuestionsList" title="select"></select>
                        </div>
                        <span asp-validation-for="SelectedQuestionIds" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="detailBtn-group">
                <button id="btnSubmit" class="btn btn-primary  mr-2" style="background-color:red">Update</button>
                <a asp-controller="Test" asp-action="index" class="btn btn-secondary" style="color:white; background-color:grey">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/summernote.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/js/bootstrap-select.min.js"></script>
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
            type="text/javascript"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>

        $(document).ready(function () {
            $('#Date').datepicker({
            });
        })
    </script>

}
